/* 
 * Styles for the Metadata
 * within app
 */
.app {
    width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.app .interactive-controls {
    float: left;
    max-width: 400px;
    text-align: center;
}

/* 
 * Styles for File Uploader 
 * Makes the File Uploader look all lush and beautiful
 */
.file-uploader {
    margin: 10px;
    text-align: center;
    margin: 10px;
}

.file-uploader label {
    display: inline-block;
    padding: 20px;
    color: white;
    border-radius: 100%;
    border: 4px #1db954 solid;
}

.file-uploader label:hover {
    color: #1db954;
    border: 4px lightskyblue solid;
}

.file-uploader.loading label {
    animation: changing-color 10s infinite;

}

.file-uploader .file-input .button-border {
    border: 2px white solid;
    width: 60px;
    margin: auto;
    margin-top: 10px;
}

.file-uploader.invalid .file-input label {
    animation: invalid-indicator 2s infinite linear;
}


.file-uploader .header-text {
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
}

.spotify-text {
    color: #1db954;
}

.file-uploader label input {
    display: none;
}

/**
  * AudioImage
  * Styles to display a better Album Art to 
  * improve the application interface
  */
.app .track-image img {
    width: 180px;
    text-align: center;
    border-radius: 50%;
}

.app .track-image {
    margin: 30px;
}

.app .track-title {
    padding-bottom: 6px;
    font-size: 20px;
    border-bottom: 4px white solid;
}

.app .track-year {
    font-size: 12px;
    font-weight: 400;
    margin: 5px;
}

.app .track-title .placeholder {
    display: inline-block;
    background-color: white;
    width: 180px;
    height: 20px;
}

.app .track-title {
    margin-bottom: 5px;
}

.app .artist-name {
    margin-top: 5px;
}

.app .artist-name .placeholder {
    display: inline-block;
    width: 90px;
    height: 20px;
    background-color: white;
}

.app .track-title .small-placeholder {
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color:#1db954;
    margin-left: 5px;
}

.app .audio-controls {
    margin: 20px;
    padding: 20px;
    padding-bottom: 80px;
}

.app .metadata {
    overflow: hidden;
    padding: 10px 10px 10px 20px;    
}

.app .metadata .metadata-header {
    font-size: 55px;
    margin: 10px 0 10px 0;
    font-weight: 900;
    display: inline-block;
    box-sizing: border-box;
    
    border: 4px solid;
    animation: changing-color 3s ease-in infinite;
    padding: 10px;
    background-color: white;
    color: black;
}

.app .metadata .metadata-fields {
    margin: 20px;
    padding: 10px;

    border-top: 3px white solid;
    border-right: 5px white solid;
}

.app .metadata .metadata-placeholder {
    margin: 30px;
    padding: 10px;
    min-height: 40px;
    font-size: 30px;

    border-bottom: 1px white solid;
    border-left: 2px white solid;
}

.app .metadata.loading .metadata-fields {
    animation: changing-color 2s linear infinite;
}

.app .metadata.loading .metadata-placeholder {
    animation: changing-color 2s linear infinite;
}

.app .metadata .spinner {
    display: none;
}

.app .metadata.loading .spinner {
    display: block;
}

/**
  * metadata-field related styles
  */
.app .metadata-field {
    margin-top: 20px;
    margin-bottom: 20px;
}


.app .metadata-field .field-label {
    font-size: 16px;
    margin: 0px 2px 0px 2px;
    color: white;
}



.app .metadata-field .field-value {
    font-size: 26px;
    font-weight: 600;
    margin: 0px 2px 0px 2px;
    color: lightgrey;
}

.app .metadata-field .field-value:hover {
    color: white;
    cursor: pointer;
}

/**
  * Error Related styles
  */
.app .error-display {
    padding: 20px;
    overflow: hidden;
    display: block;
}

.app .error-header {
    padding: 20px;
    color: peru;
    font-size: 45px;
    font-weight: 900;
}

.app .error-display .error-message {
    color: lightpink;
    
    margin: 30px;
    margin-top: 10px;
    border-top: 1px;
    padding: 20px;

    border-top: 2px red solid;
    border-left: 2px red solid;

    font-size: 25px;
}

.app .error-display .error-message .developer a {
    color: lightgreen;
    font-size: 30px;
}

/**
  * Random CSS Animation
  * Coincidentally, also one of my first CSS animations
  * which is an incredible thing to accomplish, at least I think so
  */
@keyframes invalid-indicator {
    0% {
        border-color: white;
    }

    20% {
        border-color: red;
    }

    60% {
        border-color: red;
    }

    100% {
        border-color: white;
    }
}

@keyframes changing-color {
    0% {
        border-color: red;
    }

    20% {
        border-color: yellowgreen;
    }

    40% {
        border-color: green;
    }

    60% {
        border-color: lightskyblue;
    }

    80% {
        border-color: violet;
    }

    100% {
        border-color: peru;
    }
}


/**
  * Spinner from Tobias Ahlin SpinKit
  * tobiasahlin.com/spinkit/
  */    
.spinner {
    width: 230px;
    height: 230px;
  
    position: relative;
    margin: 30px auto;

    border-bottom: 3px white solid;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }